.lang {
    position: relative;

    .btn {
        border: none;
        background: transparent;
        padding: 12px;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.1);
        border: 1px solid #F3F3F3;
        font-weight: 600;
        color: #5c509e;
        min-width: 65px;
    }

    .list {
        background: #ffffff;
        box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.1);
        list-style: none;
        padding: 15px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: calc(100% + 10px);
        right: 0;
        left: 0;
        // display: none;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
        transform: translateY(20px);


        .lang {
            cursor: pointer;
            font-weight: 600;
            font-size: 16px;
            color: #898989;
        }

        .lang.active {
            color: #5c509e;
        }
    }

    .list.active {
        // display: flex;
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}