.label {
    width: 280px;
    height: 50px;
    margin-bottom: 10px;
    position: relative;
    border: 1px solid #7a7a7a;
    display: block;
    border-radius: 10px;


    input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: none;
        outline: none;
        background: transparent;
        font-size: 18px;
        position: absolute;
        bottom: 0;
        top: 0;
        color: #7a7a7a;
    }

    span {
        position: absolute;
        top: -10px;
        left: 12px;
        background: white;
        padding: 0 5px;
        font-weight: 300;
        transition: all .3s;
        cursor: text;
        color: #7a7a7a;
    }
}