.images {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 10px;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        li {
            position: relative;
        }

        img {
            width: 60px;
            height: 60px;
            border-radius: 4px;
            object-fit: contain;
            object-position: bottom;
        }

        .picture.active::before {
            content: '';
            display: flex;
            background: #00000050;
            position: absolute;
            inset: 0;
            width: 60px;
            height: 60px;
            border-radius: 4px;
        }
    }

    img {
        width: 100%;
        border-radius: 8px;
    }
}