.btn {
    border: none;
    background: transparent;
    padding: 12px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #F3F3F3;
    font-weight: 600;
    color: #5c509e;
    min-width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}