.footer {
    border-top: 1px solid #cfcfcf;
    text-align: center;

    .in_footer {
        padding: 150px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        h2 {
            font-style: normal;
            font-weight: 600;
            font-size: 34px;
            line-height: 51px;
            text-align: center;
        }

        .btn {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            max-width: 180.5px;
            color: #fff;
            background: #000;
            border-radius: 30px;
            padding: 10px 25px;
            border: none;
            cursor: pointer;
        }

        .social_btns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            a {
                font-size: 35px;
                padding: 20px;
                border-radius: 30%;
                box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .45);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .5s;
            }

            a:hover {
                background: #489cf0;
                color: white;
            }
        }

        .end_footer {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #828282;
        }
    }
}