.modal.active {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000040;

    .window {
        background: white;
        padding: 20px;
        border-radius: 10px;
        font-size: 16px;

        h2 {
            font-weight: 300;
        }
    }
}

.modal {
    display: none;
}