.main {
    // display: none;

    .main_header {
        background: rgb(232, 230, 239);
        background: linear-gradient(180deg, rgba(232, 230, 239, 1) 0%, rgba(232, 230, 239, 1) 71%, rgba(255, 255, 255, 1) 100%);
        min-height: 100vh;
        position: relative;
        // width: 100vw;
        // top: 0;
        z-index: -2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .center {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            h1 {
                position: absolute;
                inset: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15vw;
                color: #FFF;
                z-index: -1;
                text-shadow: 10px 30px 85px rgba(0, 0, 0, 0.15);
            }

            img {
                max-width: 850px;
                width: 100%;
                object-fit: contain;
                -webkit-filter: drop-shadow(23px 45px 75px #000);
                filter: drop-shadow(23px 45px 75px #000);
            }
        }

        .decor_balls {
            position: absolute;
            inset: 0;

            .ball_1 {
                width: 150px;
                height: 150px;
                background: radial-gradient(102.81% 102.81% at 70.4% 31.2%, rgb(255, 255, 255) 0%, rgb(232, 230, 239) 100%), radial-gradient(102.81% 102.81% at 70.4% 31.2%, rgb(255, 255, 255) 0%, rgb(220, 216, 233) 100%);
                border-radius: 50%;
                position: absolute;
                top: 60%;
                left: 27%;
            }

            .ball_2 {
                width: 50px;
                height: 50px;
                background: radial-gradient(102.81% 102.81% at 70.4% 31.2%, rgb(255, 255, 255) 0%, rgb(232, 230, 239) 100%), radial-gradient(102.81% 102.81% at 70.4% 31.2%, rgb(255, 255, 255) 0%, rgb(220, 216, 233) 100%);
                border-radius: 50%;
                position: absolute;
                top: 75%;
                left: 24%;
            }

            .ball_3 {
                width: 80px;
                height: 80px;
                background: radial-gradient(102.81% 102.81% at 70.4% 31.2%, rgb(255, 255, 255) 0%, rgb(232, 230, 239) 100%), radial-gradient(102.81% 102.81% at 70.4% 31.2%, rgb(255, 255, 255) 0%, rgb(220, 216, 233) 100%);
                border-radius: 50%;
                position: absolute;
                top: 80%;
                left: 25%;
            }

            .ball_4 {
                width: 180px;
                height: 180px;
                background: radial-gradient(102.81% 102.81% at 70.4% 31.2%, rgb(255, 255, 255) 0%, rgb(232, 230, 239) 100%), radial-gradient(102.81% 102.81% at 70.4% 31.2%, rgb(255, 255, 255) 0%, rgb(220, 216, 233) 100%);
                border-radius: 50%;
                position: absolute;
                top: 10%;
                left: 50%;
            }

            .ball_5 {
                width: 60px;
                height: 60px;
                background: radial-gradient(102.81% 102.81% at 70.4% 31.2%, rgb(255, 255, 255) 0%, rgb(232, 230, 239) 100%), radial-gradient(102.81% 102.81% at 70.4% 31.2%, rgb(255, 255, 255) 0%, rgb(220, 216, 233) 100%);
                border-radius: 50%;
                position: absolute;
                top: 10%;
                left: 63%;
            }

            .ball_6 {
                width: 40px;
                height: 40px;
                background: radial-gradient(102.81% 102.81% at 70.4% 31.2%, rgb(255, 255, 255) 0%, rgb(232, 230, 239) 100%), radial-gradient(102.81% 102.81% at 70.4% 31.2%, rgb(255, 255, 255) 0%, rgb(220, 216, 233) 100%);
                border-radius: 50%;
                position: absolute;
                top: 23%;
                left: 62%;
            }

            .ball_7 {
                width: 70px;
                position: absolute;
                top: 28%;
                left: 83%;

                img {
                    width: 100%;
                }
            }

            .ball_8 {
                width: 30px;
                position: absolute;
                top: 50%;
                left: 10%;

                img {
                    width: 100%;
                }
            }
        }

        .arrow_scroll {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            gap: 10px;
            margin-bottom: 30px;
            position: relative;
            z-index: 6;

            p {
                color: #323232;

                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
                text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);
            }

            svg {
                font-size: 40px;
            }
        }
    }
}

@media (max-width: 1030px) {
    .main {
        .main_header {
            .center {
                img {
                    width: 90%;
                }
            }
        }
    }
}